@model IEnumerable<TravelPlain.Web.ViewModels.Tour.IndexViewModel>
@{
    ViewBag.Title = "Tours";
}
@section Scripts{
    <script src="~/Scripts/filter.js"></script>
}

<h2>Tours</h2>
<a href="@Url.Action("Create", "Tour")" class="btn btn-primary">
    <span class="glyphicon glyphicon-plus"></span>
    Create new tour
</a>
@Html.Partial("~/Views/Tour/FilterPartial.cshtml", new TravelPlain.Web.ViewModels.Tour.FilterViewModel())
<hr />
<div col-md-8>
    <p>Total: @Model.Count()</p>
    <table class="table table-striped">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <h4>@Html.DisplayFor(modelItem => item.Title)</h4>
                </td>
                <td>
                    <h4>
                        @if (item.IsHot)
                        {
                            <span class="glyphicon glyphicon-certificate text-danger"></span>
                        }
                    </h4>
                </td>
                <td>
                    @{
                        string path = Server.MapPath("~/Content/Images/" + item.ImageName);
                        if (File.Exists(path))
                        {
                            <img src="~/Content/Images/@item.ImageName" />
                        }
                        else
                        {
                            <img src="~/Content/Images/no_image.jpg" />
                        }
                    }
                </td>
                <td>
                    <h5>
                        @Html.DisplayFor(modelItem => item.Description)
                    </h5>
                </td>
                <td>
                    <h4>
                        <strong>
                            $@Html.DisplayFor(modelItem => item.Price)
                        </strong>
                    </h4>
                    <h4>
                        <span class="text-warning">
                            @if ((int)item.HotelType >= 0 && (int)item.HotelType < 6)
                            {
                                @Html.Rating((int)item.HotelType)
                            }
                            else
                            {
                                @Html.Rating(0)
                            }
                        </span>
                    </h4>
                    <p>
                        @Html.DisplayFor(modelItem => item.PeopleNumber)
                        <span class="glyphicon glyphicon-user"></span>
                    </p>
                </td>
                <td>
                    <h5>
                        @Html.DisplayFor(modelItem => item.TourType)
                    </h5>
                    <h5>
                        @Html.DisplayFor(modelItem => item.TransferType)
                    </h5>
                </td>
                <td>
                    <div class="btn-group btn-group-vertical btn-group-sm">
                        @if (item.IsHot)
                        {
                            <a href="@Url.Action("ToggleHot", new { id = item.Id })" class="btn btn-default">
                                Make usual
                            </a>
                        }
                        else
                        {
                            <a href="@Url.Action("ToggleHot", new { id = item.Id })" class="btn btn-default">
                                <span class="glyphicon glyphicon-certificate text-danger"></span>
                                Make hot
                            </a>
                        }
                        @Html.ActionLink("Edit", "Edit", "Tour", new { id = item.Id }, new { @class = "btn btn-default btn-sm" })
                    </div>
                </td>
            </tr>
                        }
    </table>
</div>